.container{
    margin-left: 78px;
    height: 98vh;
    margin-top: -50vh;
}
.divroxa{
    height: 50vh;
    width: 100%;
    background-color: rgb(153, 0, 255);
}
.container_alertas{
    width: 100%;
    display: flex;
    margin-top: 3vh;
    justify-content: space-evenly;
}
.card_info{
    background-color: #fff;
    width: 40vh;
    height: 20vh;
    margin-right: 4vh;
    border-radius: 0.5vh;
    border:0.2vh solid rgb(46, 45, 45);
    font-size: 5vh;
}

.card_info img {
    width: 7%;
    top: 28%;
    left: 14%;
    float: left;
}
.dash{
    padding-top: 2vh;
    background-color: #fff;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 1vh;
}
button{
    height: 6vh;
    background-color: #fff;
    color: #23001e;
    border-radius: 0.5vh;
    font-size: 1.8vw;
    cursor: pointer;
}
.big_container{
    background: white;
    width: 50vw;
    margin-top: 5vh;
    text-align: center;
    margin-left: 9%;
    border-radius: 0.5vh;
    border: 0.2vh solid rgb(46, 45, 45);
}
.painel{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.painel img{
    width: 4vw;
}